.banner__imagem {
  background-image: url('../../img/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

@media screen and (min-width: 0) {
  .banner__imagem {
    height: calc(100vh - 51px);
  }
}

@media screen and (min-width: 768px) {
  .banner__imagem {
    height: calc(100vh - 72px);
  }
}
